body {
  background-image: url('../images/bg-wiser.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  margin-top: 35vh;
}

#persistent {
  margin-top: 5vh;
}

footer {
  margin-top: 35vh;
}
